---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="post-nav">
    {% if page.next %}<a class="post-nav-button-next" href="{{ site.baseurl }}{{ page.next.url }}">Next: {{ page.next.title }}</a>{% endif %}
    {% if page.previous %}<a class="post-nav-button-prev" href="{{ site.baseurl }}{{ page.previous.url}}">Prev: {{ page.previous.title }}</a>{% endif %}
  </div>

  {% include disqus.html %}
</article>
