---
layout: default
---

<article class="project">
  <div class="project-title-div">
    <img class="project-title-thumbnail" src="/images/project-thumbnails/{{ page.thumbnail }}" />
    <div class="project-description-div">
      <h1 class="project-title-text">{{ page.title }}</h1>
      {% if page.release-date %}<h3 class="project-subtitle">Released: {{ page.release-date }}</h3>{% endif %}
      {% if page.platform %}<h3 class="project-subtitle">Platform: {{ page.platform }}</h3>{% endif %}
      {% if page.tech %}<h3 class="project-subtitle">Developed with: {{ page.tech }}</h3>{% endif %}
    </div>
  </div>

  <div class="project-team-credit">
    {{ % if page.team }}Developed by {{ page.team }}{{ % endif % }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="project-nav">
    {% if page.next %}<a class="project-nav-button" href="{{ site.baseurl }}{{ page.next.url }}">Next Project: {{ page.next.title }}</a>{% endif %}
    {% if page.previous %}<a class="project-nav-button" href="{{ site.baseurl }}{{ page.previous.url}}">Previous Project: {{ page.previous.title }}</a>{% endif %}
  </div>

</article>
